# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# user-specific settings
*.user
*.suo

# NCrunch
*.ncrunch*
_NCrunch_*

# third-party packages
packages

# mstest test results
TestResults
